.body {
    margin-left: 12%;
    margin-right: 12%;
}

h1, h2 {
    text-align: center;
    font-weight: 500;
}

mat-expansion-panel {
    margin-left: 16%;
    margin-right: 16%;
    background-color: rgb(71, 75, 78);
    color: rgb(236, 236, 236);
}

mat-panel-description {
    color: rgb(236, 236, 236);
    font-weight: bold;
    justify-content: center !important;
}

mat-card {
    background-color: lightgray;
}

.user-story {
    background-color: rgb(81, 85, 88);
    color: rgb(236, 236, 236);
    font-weight: 500;
    margin-top: 1rem;
}

.task {
    border:.1rem solid rgb(173, 173, 173);
    margin-bottom:.4rem;
}

.task-spacer {
    margin-left: 1rem;
    margin-right: 1rem;
}

.github-link {
    margin-bottom: 2rem;
    text-align: right;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links:nth-child(n) {
    margin-top: .5rem;
}

.user-spacer {
    margin: .5rem;
}

.mat-stroked-button {
    border: 1px solid rgb(168, 168, 168);
    background-color: rgb(230, 231, 221);
}